/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.header_logo{
    width: 300px;

}
.header_top {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.menu{
    display: flex;
}
.menu_item{
    margin-left: 80px;
}
.menu_item:last-child{
    margin-right: 0;
    border-color: #f0a427;
}
.menu_item a{
    color: #585655;
    display: block;
    padding: 15px 20px;
}
.menu_item a:hover{
    text-decoration: none;
}
.menu_item{
    border-bottom: 1px solid #2d89ef;
    position: relative;
}
.menu_item:nth-child(2){
    border-color: #603cba;
}
.menu_item:nth-child(3){
    border-color: #01a31c;
}
.menu_item:nth-child(4){
    border-color: #d44a26;
}
.menu_item:hover a{
    color: #2d89ef;
}
.menu_item:nth-child(2):hover a{
    color: #603cba;
}
.menu_item:nth-child(3):hover a{
    color: #01a31c;
}
.menu_item:nth-child(4):hover a{
    color: #d44a26;
}
.menu_item:last-child:hover a{
    color: #f0a427
}
.menu_item:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
}
.menu_item:hover:before{
    border-top: 5px solid #2d89ef;
}
.menu_item:nth-child(2):hover:before{
    border-top: 5px solid #603cba;
}
.menu_item:nth-child(3):hover:before{
    border-top: 5px solid #01a31c;
}
.menu_item:nth-child(4):hover:before{
    border-top: 5px solid #d44a26;
}
.menu_item:last-child:hover:before{
    border-top: 5px solid #f0a427
}
.title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    color: #585655;
    margin-right: 80px;
}
.header_bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*.download_link{*/
/*    display: block;*/
/*    padding: 15px 80px 15px 45px;*/
/*    text-decoration: underline;*/
/*    background-color: #0064cd;*/
/*    color: #ffffff;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    font-size: 12px;*/
/*    position: relative;*/
/*}*/
.download_link:hover{
    color: #343a40;
}
.download_link:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 15px;
    background-image: url(../images/copy_1.png);
    background-size: cover;
    height: 20px;
    width: 20px;
}
.search{
    padding: 12px 50px 12px 15px;
    border: 1px solid #585655;
    border-radius: 0px;
    background: url(../images/search.png) no-repeat 95% 50% #ffffff;
}
.search:focus{
    outline: 0px;
}
.search:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../images/search.png);
    background-size: cover;
    height: 20px;
    width: 20px;
}
