.content-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.card{
    width: 14rem;
    text-align: center;
}
.main-wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px;
    margin-top: 30px;
}
